@font-face {
font-family: 'Futura-Book';
	src: url('../fonts/Futura/Futura-Book.eot');
	src: url('../fonts/Futura/Futura-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Futura/Futura-Book.woff2') format('woff2'),
	url('../fonts/Futura/Futura-Book.woff') format('woff'),
	url('../fonts/Futura/Futura-Book.ttf') format('truetype');
}
