$black: #000;
$white: #fff;
$dark: #515150;
$light: #d9d9d7;
$blue: #14a1d0;
$green: #5a782a;
$red: #E22900;
$peach: #EEE7D5;
$aqua: #81c7e3;
$grey: #cdcdcd;
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$body-color: $black;